.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.row.align-x-center {
  justify-content: center;
}

.row.align-x-start {
  justify-content: flex-start;
}

.row.align-x-end {
  justify-content: flex-end;
}

.row.align-x-center
  .row.align-x-center
  .row.align-x-center
  .row.align-x-center {
}
