* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root,
#root {
  margin: 0;
  padding: 0;
  background: #f7f5f9;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  font-family: "Red Hat Text";
  font-weight: 400;
  font-size: 62.5%;
}

#root {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.SmallLabel {
  text-transform: uppercase;
  letter-spacing: 2px;
}

label {
  font-family: "Red Hat Text";
  letter-spacing: 1px;
}

h1,
h2,
.fs-6,
.fs-7 {
  font-family: "Visby", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  letter-spacing: 0.25px;
  margin: 0;
}

h1 {
  font-size: 41px;
}

h2 {
  font-size: 32px;
}

button[page] {
  background-image: linear-gradient(
    115deg,
    rgba(67, 10, 140, 0.9408) -10%,
    rgba(127, 37, 158, 0.9604) 110%
  );
}

a,
:any-link {
  color: var(--darkPurple);
  text-decoration: none;
}

a:hover,
:any-link:hover {
  color: var(--lightPurple);
}

h1,
h2,
h3 {
  font-weight: 700 !important;
}

h3 {
  font-size: 24px;
  letter-spacing: 0.5px;
}

.ListItem:not(:last-of-type) {
  border-bottom: 1px solid var(--grayscale2);
}

.TextInput {
  position: relative;
}

.TextInput input {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Visby", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  background: transparent;
  padding: 12px;
  width: 100%;
  border-radius: 2px;
  border: 2px solid var(--grayscale4);
  outline: none;
  background: #fff;
}

.TextInput input:focus {
  border: 2px solid var(--brandDarkPurple);
}

.TextInput input::placeholder {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Visby", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  color: var(--grayscale7);
}

.TextInput input.onPurple {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.TextInput input.onPurple::placeholder {
  color: #fff;
  opacity: 0.9;
}

h4 {
  letter-spacing: 0.5px;
  color: var(--grayscale8);
  text-transform: uppercase;
}

.popup-content {
  background: transparent !important;
  width: auto !important;
  padding: none !important;
  border: none !important;
}

.virtualizedTable {
  scrollbar-color: red yellow;
}

.virtualizedTable::-webkit-scrollbar-track {
  background-color: transparent;
  width: 0px;
}

.virtualizedTable::-webkit-scrollbar {
  width: 4px;
  position: absolute;
  background-color: hsla(300, 15%, 98%, 1);
}

.virtualizedTable::-webkit-scrollbar-thumb {
  background-color: var(--darkPurple2);
}

div.SelectInputOptions-content {
  width: 100% !important;
  padding: 0 !important;
  max-width: 280px !important;
  overflow-x: hidden !important;
}

div::-webkit-scrollbar-track:horizontal,
div::-webkit-scrollbar-track {
  background-color: transparent;
  width: 0px;
}

div::-webkit-scrollbar:horizontal,
div::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar-thumb:horizontal,
div::-webkit-scrollbar-thumb {
  background-color: #bfb3c4;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}
