:root {
  --brandDarkPurple: #541f96;
  --darkPurple10: #541f96;
  --darkPurple: #541f96;
  --darkPurple2: #dfd7e2;
  --brandLightPurple: #8734a5;
  --lightPurple: #8734a5;
  --lightPurple10: #8734a5;
  --lightPurple2: #e5dce8;
  --blue: #2270ee;
  --red: #e63717;
  --green: #18a761;
  --yellow: #ffc902;
  --grayscale0: #ffffff;
  --grayscale1: #fcfcfc;
  --grayscale2: #f5f5f5;
  --grayscale4: #e2e0e4;
  --grayscale5: #cfcfd6;
  --grayscale6: #bfbfc4;
  --grayscale7: #9e9ea0;
  --grayscale8: #817e86;
  --grayscale9: #515054;
  --grayscale10: #141414;

  --elevation0: 0px 0px 0px rgba(0, 0, 0, 0);
  --elevation1: 0 1px 4px rgba(20, 20, 20, 0.1);
}
